{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

  <!-- Facebook Opengraph integration: https://developers.facebook.com/docs/sharing/opengraph -->
  <meta property="og:title" content="">
  <meta property="og:image" content="">
  <meta property="og:url" content="">
  <meta property="og:site_name" content="">
  <meta property="og:description" content="">

  <!-- Twitter Cards integration: https://dev.twitter.com/cards/  -->
  <meta name="twitter:card" content="summary">
  <meta name="twitter:site" content="">
  <meta name="twitter:title" content="">
  <meta name="twitter:description" content="">
  <meta name="twitter:image" content="">

    <title>Uneako Ecommerce</title>

    {% include "base/css.html" %}
    
  </head>
  <body>
    {% include "base/nav.html" %}
    {% block content %}{% endblock %}
    {% include "base/footer.html" %}
    {% include "base/js.html" %}
  
  </body>

</html>
